$bg:#000;
$width:100px;
$height:100px;
$space:50px;

#index{
	background-color:$bg;
}
#board{
	width:($width+$space+2px)*3;
	height:($width+$space)*5;
	display:block;
	overflow:hidden;
	border:1px solid #fff;
}

.invader{
	height:100px;
	width:100px;
	border:1px solid #ff0;	
	float:left;
	margin:$space $space 0 0;
	animation-duration: 3s;
	animation-name: moveRight;
	  animation-iteration-count: infinite;
	  animation-direction: alternate;
	
}

.base{
	height:50px;
	width:100px;
	border:1px solid #f0f;
}

@keyframes moveRight {
  from {
    transform: translateX(0);
  }
 
  to {
    transform: translateX(100px);
  }
}